<!-- 
- # POST DETAIL COMPONENT
-->
<section class="section recent-post" id="recent" aria-labelledby="recent-label">
  <div class="container">
    <div class="post-main">
      <ul class="grid-list">
        <div class="common-title">
          <h1 class="headline card-title">
            <a href="#" class="link hover-2 custom-header">Helpful Tips for Working from Home as a Freelancer</a>
          </h1>
          <p class="post-date">June 17, 2023</p>
          <hr class="row-color">
        </div>

        <li>
          <div class="left-side">
            <h2 class=" headline custom-header">
              Introduction
            </h2>
            <p>
              This is all about introduction part
            </p>
          </div>

          <div class="post-detail-card" >
            <figure class="card-banner img-holder mb-2" style="--width: 250; --height: 200;">
              <img src="./assets/images/recent-post-1.jpg" width="250" height="200" loading="lazy"
                alt="Helpful Tips for Working from Home as a Freelancer" class="img-cover">
            </figure>

            <div class="card-content custom-title">
              <h4 class="headline custom-header">
                The name of our country is bangladesh. bangladesh is a small country.
              </h4>
              <p class="card-text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda, nostrum quas culpa voluptatum dicta
                voluptate atque cum doloremque perferendis ipsam?
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Odit aperiam iure sit perferendis eaque,
                voluptates beatae? Iste, mollitia tenetur quasi voluptas praesentium eius amet obcaecati porro
                reiciendis consequatur rerum dolorem quis delectus quibusdam itaque hic facilis non temporibus
                accusantium! Voluptatum iusto nemo molestiae, expedita vel cupiditate atque sequi! Facilis ad cum
                suscipit distinctio molestiae dolorum consequuntur quod. Delectus aut ipsam saepe ab in repellat veniam
                incidunt doloribus, dolor nisi, harum soluta accusamus porro sequi officia voluptatem earum maxime
                dolores. Dolorum debitis distinctio temporibus aut, in incidunt eveniet doloribus eum itaque. Autem
                nesciunt consequuntur cupiditate dolorem distinctio ut facilis repellat sapiente.
              </p>
              <h4 class="headline custom-header">
                The name of our country is bangladesh. bangladesh is a small country.
              </h4>
              <p class="card-text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda, nostrum quas culpa voluptatum dicta
                voluptate atque cum doloremque perferendis ipsam?
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Odit aperiam iure sit perferendis eaque,
                voluptates beatae? Iste, mollitia tenetur quasi voluptas praesentium eius amet obcaecati porro
                reiciendis consequatur rerum dolorem quis delectus quibusdam itaque hic facilis non temporibus
                accusantium! Voluptatum iusto nemo molestiae, expedita vel cupiditate atque sequi! Facilis ad cum
                suscipit distinctio molestiae dolorum consequuntur quod. Delectus aut ipsam saepe ab in repellat veniam
                incidunt doloribus, dolor nisi, harum soluta accusamus porro sequi officia voluptatem earum maxime
                dolores. Dolorum debitis distinctio temporibus aut, in incidunt eveniet doloribus eum itaque. Autem
                nesciunt consequuntur cupiditate dolorem distinctio ut facilis repellat sapiente.
              </p>
            </div>
          </div>
        </li>        
      </ul>      

      <div class="like-comment">
        <ng-container *ngIf="!showInputField">
          <div class="like-button" style="display: flex; justify-content: center; align-items: center;">
            <i class="fa-sharp fa-solid fa-heart fa-2xl"></i>
          </div>
          <div class="comment-button">
            <button class="btn btn-primary" (click)="replaceWithInput()">
              <span class="span">Comment</span>
              <ion-icon name="arrow-forward-outline" aria-hidden="true"></ion-icon>
            </button>
          </div>
        </ng-container>
      
        <div class="another-div" style="width: 200%;">
          <form *ngIf="showInputField" [formGroup]="inputControl">
            <div >
              <div class="input-wrapper">
                <input type="text" name="comment" placeholder="Comments" class="input-field full-width" autocomplete="off">
              </div><hr class="row-color">
  
              <a href="#" class="btn btn-primary">
                <span class="span">Send</span>
              </a>
            </div>
          </form>
        </div>
      </div>
      
      
      

    </div>

    <div class="post-aside grid-list">
      <div class="card aside-card">

        <h3 class="headline headline-2 aside-title">
          <span class="span">Popular Posts</span>
        </h3>

        <ul class="popular-list">
          <li>
            <div class="popular-card">

              <figure class="card-banner img-holder" style="--width: 64; --height: 64;">
                <img src="./assets/images/popular-post-1.jpg" width="64" height="64" loading="lazy"
                  alt="Creating is a privilege but it’s also a gift" class="img-cover">
              </figure>

              <div class="card-content">

                <h4 class="headline headline-4 card-title">
                  <a href="#" class="link hover-2">Creating is a privilege but it’s also a gift</a>
                </h4>

                <div class="warpper">
                  <p class="card-subtitle">15 mins read</p>

                  <time class="publish-date" datetime="2022-04-15">15 April 2022</time>
                </div>
              </div>
            </div>
          </li>

          <li>
            <div class="popular-card">

              <figure class="card-banner img-holder" style="--width: 64; --height: 64;">
                <img src="./assets/images/popular-post-2.jpg" width="64" height="64" loading="lazy"
                  alt="Being unique is better than being perfect" class="img-cover">
              </figure>

              <div class="card-content">
                <h4 class="headline headline-4 card-title">
                  <a href="#" class="link hover-2">Being unique is better than being perfect</a>
                </h4>
                <div class="warpper">
                  <p class="card-subtitle">15 mins read</p>
                  <time class="publish-date" datetime="2022-04-15">15 April 2022</time>
                </div>

              </div>

            </div>
          </li>

          <li>
            <div class="popular-card">

              <figure class="card-banner img-holder" style="--width: 64; --height: 64;">
                <img src="./assets/images/popular-post-3.jpg" width="64" height="64" loading="lazy"
                  alt="Every day, in every city and town across the country" class="img-cover">
              </figure>

              <div class="card-content">

                <h4 class="headline headline-4 card-title">
                  <a href="#" class="link hover-2">Every day, in every city and town across the country</a>
                </h4>

                <div class="warpper">
                  <p class="card-subtitle">15 mins read</p>

                  <time class="publish-date" datetime="2022-04-15">15 April 2022</time>
                </div>

              </div>

            </div>
          </li>

          <li>
            <div class="popular-card">

              <figure class="card-banner img-holder" style="--width: 64; --height: 64;">
                <img src="./assets/images/popular-post-4.jpg" width="64" height="64" loading="lazy"
                  alt="Your voice, your mind, your story, your vision" class="img-cover">
              </figure>

              <div class="card-content">

                <h4 class="headline headline-4 card-title">
                  <a href="#" class="link hover-2">Your voice, your mind, your story, your vision</a>
                </h4>

                <div class="warpper">
                  <p class="card-subtitle">15 mins read</p>

                  <time class="publish-date" datetime="2022-04-15">15 April 2022</time>
                </div>

              </div>

            </div>
          </li>

          <li>
            <div class="popular-card">

              <figure class="card-banner img-holder" style="--width: 64; --height: 64;">
                <img src="./assets/images/popular-post-2.jpg" width="64" height="64" loading="lazy"
                  alt="Being unique is better than being perfect" class="img-cover">
              </figure>

              <div class="card-content">

                <h4 class="headline headline-4 card-title">
                  <a href="#" class="link hover-2">Being unique is better than being perfect</a>
                </h4>

                <div class="warpper">
                  <p class="card-subtitle">15 mins read</p>

                  <time class="publish-date" datetime="2022-04-15">15 April 2022</time>
                </div>

              </div>

            </div>
          </li>

        </ul>
      </div>
      <div class="card aside-card">

        <h3 class="headline headline-2 aside-title">
          <span class="span">Last Comment</span>
        </h3>

        <ul class="comment-list">

          <li>
            <div class="comment-card">

              <blockquote class="card-text">
                “ Gosh jaguar ostrich quail one excited dear hello and bound and the and bland moral misheard
                roadrunner “
              </blockquote>

              <div class="profile-card">
                <figure class="profile-banner img-holder">
                  <img src="./assets/images/author-6.png" width="32" height="32" loading="lazy" alt="Jane Cooper">
                </figure>

                <div>
                  <p class="card-title">Jane Cooper</p>

                  <time class="card-date" datetime="2022-04-15">15 April 2022</time>
                </div>
              </div>

            </div>
          </li>

          <li>
            <div class="comment-card">

              <blockquote class="card-text">
                “ Gosh jaguar ostrich quail one excited dear hello and bound and the and bland moral misheard
                roadrunner “
              </blockquote>

              <div class="profile-card">
                <figure class="profile-banner img-holder">
                  <img src="./assets/images/author-7.png" width="32" height="32" loading="lazy" alt="Katen Doe">
                </figure>

                <div>
                  <p class="card-title">Katen Doe</p>

                  <time class="card-date" datetime="2022-04-15">15 April 2022</time>
                </div>
              </div>

            </div>
          </li>

          <li>
            <div class="comment-card">

              <blockquote class="card-text">
                “ Gosh jaguar ostrich quail one excited dear hello and bound and the and bland moral misheard
                roadrunner “
              </blockquote>

              <div class="profile-card">
                <figure class="profile-banner img-holder">
                  <img src="./assets/images/author-8.png" width="32" height="32" loading="lazy" alt="Barbara Cartland">
                </figure>

                <div>
                  <p class="card-title">Barbara Cartland</p>

                  <time class="card-date" datetime="2022-04-15">15 April 2022</time>
                </div>
              </div>

            </div>
          </li>
        </ul>
      </div>
    </div>

    <app-feedback></app-feedback>

  </div>
</section>