<!--
- # POST DETAIL COMPONENT
-->
<section class="section recent-post" id="recent" aria-labelledby="recent-label">
  <div class="container">
    <div class="post-main">
      <ul class="grid-list" *ngIf="post">
        <div class="common-title">
          <h1 class="headline card-title">
            {{ post.postTitle }}
          </h1>
          <p class="post-date">
            {{ post.createdDateTime | date : "MMMM d, yyyy" }}
          </p>
          <hr class="row-color" />
        </div>

        <li *ngFor="let section of post.sections">
          <div class="left-side">
            <h2 class="headline custom-header">{{ section.sectionTitle }}</h2>
            <p>{{ section.sectionDescription }}</p>
          </div>

          <div class="post-detail-card">
            <figure
              class="card-banner img-holder mb-2"
              style="--width: 250; --height: 200"
            >
              <img
                src="./assets/images/recent-post-1.jpg"
                width="250"
                height="200"
                loading="lazy"
                alt="Helpful Tips for Working from Home as a Freelancer"
                class="img-cover"
              />
            </figure>

            <div
              class="card-content custom-title"
              *ngFor="let item of section.items"
            >
              <h4 class="headline custom-header">{{ item.itemTitle }}</h4>
              <p class="card-text">
                {{ item.itemDescription }}
              </p>
              <figure
                class="card-banner img-holder mb-2"
                style="--width: 250; --height: 200"
              >
                <img
                  src="./assets/images/recent-post-1.jpg"
                  width="250"
                  height="150"
                  loading="lazy"
                  alt="Helpful Tips for Working from Home as a Freelancer"
                  class="img-cover"
                />
              </figure>
            </div>
          </div>
        </li>

        <div>
          <h2 class="headline custom-header">Conclusion</h2>
          <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iusto natus cumque delectus, eius earum porro nulla exercitationem voluptates est dolor?</p>
        </div>
      </ul>

      <div class="like-comment">
        <ng-container *ngIf="!showInputField">
          <div
            class="like-button"
            style="display: flex; justify-content: center; align-items: center"
          >
            <i class="fa-sharp fa-solid fa-heart fa-2xl"></i>
          </div>
          <div class="comment-button">
            <button class="btn btn-primary" (click)="replaceWithInput()">
              <span class="span">Comment</span>
            </button>
          </div>
        </ng-container>

        <div class="another-div" style="width: 200%; margin-bottom: 20px">
          <form *ngIf="showInputField" [formGroup]="inputControl">
            <div>
              <div class="input-wrapper">
                <input
                  type="text"
                  name="commentorName"
                  placeholder="Name"
                  class="input-field full-width"
                  autocomplete="off"
                />
              </div>
              <hr class="row-color" />

              <div class="input-wrapper">
                <input
                  type="text"
                  name="comment"
                  placeholder="Comments"
                  class="input-field full-width"
                  autocomplete="off"
                />
              </div>
              <hr class="row-color" />

              <a href="#" class="btn btn-primary">
                <span class="span">Send</span>
              </a>
            </div>
          </form>
        </div>
      </div>

      <app-feedback></app-feedback>
    </div>

    <div class="post-aside grid-list">
      <div class="card aside-card">
        <h3 class="headline headline-2 aside-title">
          <span class="span">Popular Posts</span>
        </h3>

        <ul class="popular-list">
          <li>
            <div class="popular-card">
              <figure
                class="card-banner img-holder"
                style="--width: 64; --height: 64"
              >
                <img
                  src="./assets/images/popular-post-1.jpg"
                  width="64"
                  height="64"
                  loading="lazy"
                  alt="Creating is a privilege but it’s also a gift"
                  class="img-cover"
                />
              </figure>

              <div class="card-content">
                <h4 class="headline headline-4 card-title">
                  <a href="#" class="link hover-2"
                    >Creating is a privilege but it’s also a gift</a
                  >
                </h4>

                <div class="warpper">
                  <p class="card-subtitle">15 mins read</p>

                  <time class="publish-date" datetime="2022-04-15"
                    >15 April 2022</time
                  >
                </div>
              </div>
            </div>
          </li>

          <li>
            <div class="popular-card">
              <figure
                class="card-banner img-holder"
                style="--width: 64; --height: 64"
              >
                <img
                  src="./assets/images/popular-post-2.jpg"
                  width="64"
                  height="64"
                  loading="lazy"
                  alt="Being unique is better than being perfect"
                  class="img-cover"
                />
              </figure>

              <div class="card-content">
                <h4 class="headline headline-4 card-title">
                  <a href="#" class="link hover-2"
                    >Being unique is better than being perfect</a
                  >
                </h4>
                <div class="warpper">
                  <p class="card-subtitle">15 mins read</p>
                  <time class="publish-date" datetime="2022-04-15"
                    >15 April 2022</time
                  >
                </div>
              </div>
            </div>
          </li>

          <li>
            <div class="popular-card">
              <figure
                class="card-banner img-holder"
                style="--width: 64; --height: 64"
              >
                <img
                  src="./assets/images/popular-post-3.jpg"
                  width="64"
                  height="64"
                  loading="lazy"
                  alt="Every day, in every city and town across the country"
                  class="img-cover"
                />
              </figure>

              <div class="card-content">
                <h4 class="headline headline-4 card-title">
                  <a href="#" class="link hover-2"
                    >Every day, in every city and town across the country</a
                  >
                </h4>

                <div class="warpper">
                  <p class="card-subtitle">15 mins read</p>

                  <time class="publish-date" datetime="2022-04-15"
                    >15 April 2022</time
                  >
                </div>
              </div>
            </div>
          </li>

          <li>
            <div class="popular-card">
              <figure
                class="card-banner img-holder"
                style="--width: 64; --height: 64"
              >
                <img
                  src="./assets/images/popular-post-4.jpg"
                  width="64"
                  height="64"
                  loading="lazy"
                  alt="Your voice, your mind, your story, your vision"
                  class="img-cover"
                />
              </figure>

              <div class="card-content">
                <h4 class="headline headline-4 card-title">
                  <a href="#" class="link hover-2"
                    >Your voice, your mind, your story, your vision</a
                  >
                </h4>

                <div class="warpper">
                  <p class="card-subtitle">15 mins read</p>

                  <time class="publish-date" datetime="2022-04-15"
                    >15 April 2022</time
                  >
                </div>
              </div>
            </div>
          </li>

          <li>
            <div class="popular-card">
              <figure
                class="card-banner img-holder"
                style="--width: 64; --height: 64"
              >
                <img
                  src="./assets/images/popular-post-2.jpg"
                  width="64"
                  height="64"
                  loading="lazy"
                  alt="Being unique is better than being perfect"
                  class="img-cover"
                />
              </figure>

              <div class="card-content">
                <h4 class="headline headline-4 card-title">
                  <a href="#" class="link hover-2"
                    >Being unique is better than being perfect</a
                  >
                </h4>

                <div class="warpper">
                  <p class="card-subtitle">15 mins read</p>

                  <time class="publish-date" datetime="2022-04-15"
                    >15 April 2022</time
                  >
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
      <div class="card aside-card">
        <h3 class="headline headline-2 aside-title">
          <span class="span">Last Comment</span>
        </h3>

        <ul class="comment-list">
          <li>
            <div class="comment-card">
              <blockquote class="card-text">
                “ Gosh jaguar ostrich quail one excited dear hello and bound and
                the and bland moral misheard roadrunner “
              </blockquote>

              <div class="profile-card">
                <figure class="profile-banner img-holder">
                  <img
                    src="./assets/images/author-6.png"
                    width="32"
                    height="32"
                    loading="lazy"
                    alt="Jane Cooper"
                  />
                </figure>

                <div>
                  <p class="card-title">Jane Cooper</p>

                  <time class="card-date" datetime="2022-04-15"
                    >15 April 2022</time
                  >
                </div>
              </div>
            </div>
          </li>

          <li>
            <div class="comment-card">
              <blockquote class="card-text">
                “ Gosh jaguar ostrich quail one excited dear hello and bound and
                the and bland moral misheard roadrunner “
              </blockquote>

              <div class="profile-card">
                <figure class="profile-banner img-holder">
                  <img
                    src="./assets/images/author-7.png"
                    width="32"
                    height="32"
                    loading="lazy"
                    alt="Katen Doe"
                  />
                </figure>

                <div>
                  <p class="card-title">Katen Doe</p>

                  <time class="card-date" datetime="2022-04-15"
                    >15 April 2022</time
                  >
                </div>
              </div>
            </div>
          </li>

          <li>
            <div class="comment-card">
              <blockquote class="card-text">
                “ Gosh jaguar ostrich quail one excited dear hello and bound and
                the and bland moral misheard roadrunner “
              </blockquote>

              <div class="profile-card">
                <figure class="profile-banner img-holder">
                  <img
                    src="./assets/images/author-8.png"
                    width="32"
                    height="32"
                    loading="lazy"
                    alt="Barbara Cartland"
                  />
                </figure>

                <div>
                  <p class="card-title">Barbara Cartland</p>

                  <time class="card-date" datetime="2022-04-15"
                    >15 April 2022</time
                  >
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
