<div class="card feedback">
    <div class="feedback-top">
        <div class="feedback-list">
            <p class="feedback-list-title">Feedback</p>
            <small class="feedback-text">
                Your valuable suggestions and feedback would greatly enhance my creativity. I would greatly appreciate
                any guidance you can offer.
            </small>

            <div class="input-wrapper">
                <input type="text" name="name" placeholder="Name" required class="input-field" autocomplete="off">
            </div>

            <div class="input-wrapper">
                <input type="email" name="email_address" placeholder="Comments" required class="input-field"
                    autocomplete="off">
            </div>

            <a href="#" class="btn btn-primary">
                <span class="span">Send</span>
            </a>
        </div>
    </div>
</div>