<!-- 
  - #HERO
-->
<section class="hero" id="home" aria-label="home">
  <div class="container">

    <div class="hero-content">

      <p class="hero-subtitle">Hello there!</p>

      <h1 class="headline headline-1 section-title">
        I’m <span class="span">Rajib Ahmed</span>
      </h1>

      <p class="hero-text">
        Dedicated programmer with a passion for coding. Skilled in C++, Java, C#, ASP.NET frameworks and related
        technologies.
        Enjoys tackling complex problems and creating innovative solutions.
      </p>

      <div class="input-wrapper">

        <input type="email" name="email_address" placeholder="Type your email address" required class="input-field"
          autocomplete="off">

        <button class="btn btn-primary">
          <span class="span">Subscribe</span>

          <ion-icon name="arrow-forward-outline" aria-hidden="true"></ion-icon>
        </button>

      </div>

    </div>

    <div class="hero-banner">

      <img src="./assets/images/hero-banner.png" width="327" height="490" alt="Rajib Clark" class="w-100">

      <img src="./assets/images/pattern-2.svg" width="27" height="26" alt="shape" class="shape shape-1">

      <img src="./assets/images/pattern-3.svg" width="27" height="26" alt="shape" class="shape shape-2">

    </div>

    <img src="./assets/images/shadow-1.svg" width="500" height="800" alt="" class="hero-bg hero-bg-1">

    <img src="./assets/images/shadow-2.svg" width="500" height="500" alt="" class="hero-bg hero-bg-2">

  </div>
</section>