<!--
  - #ABOUT PAGE
-->
<section class="hero" id="about" aria-label="about">
  <div class="container">
    <div class="hero-content">
      <p class="hero-subtitle">Hello there!</p>

      <h1 class="headline headline-1 section-title">
        I’m <span class="span">Rajib Ahmed</span>
      </h1>

      <p class="hero-text">
        Dedicated programmer with a passion for coding. Skilled in C++, Java,
        C#, ASP.NET frameworks and related technologies. Enjoys tackling complex
        problems and creating innovative solutions.
      </p>

      <div class="input-wrapper">
        <input
          type="email"
          name="email_address"
          placeholder="Type your email address"
          required
          class="input-field"
          autocomplete="off"
        />
        <button class="btn btn-primary">
          <span class="span">Follow</span>
          <!-- <ion-icon name="arrow-forward-outline" aria-hidden="true"></ion-icon> -->
        </button>
      </div>
    </div>

    <div class="hero-banner">
      <img
        src="./assets/images/second.png"
        width="327"
        height="490"
        alt="Rajib Ahmed"
        class="w-100"
      />
      <img
        src="./assets/images/pattern-2.svg"
        width="27"
        height="26"
        alt="shape"
        class="shape shape-1"
      />
      <img
        src="./assets/images/pattern-3.svg"
        width="27"
        height="26"
        alt="shape"
        class="shape shape-2"
      />
    </div>

    <img
      src="./assets/images/shadow-1.svg"
      width="500"
      height="800"
      alt=""
      class="hero-bg hero-bg-1"
    />
    <img
      src="./assets/images/shadow-2.svg"
      width="500"
      height="500"
      alt=""
      class="hero-bg hero-bg-2"
    />
  </div>
</section>

<section class="section-2" id="experiences" aria-label="experiences">
  <div class="container">
    <div class="post-aside grid-list">
      <div class="card aside-card">
        <h3 class="headline headline-2 aside-title">
          <span class="span">Experiences</span>
        </h3>
        <ul class="experience-list" *ngFor="let data of experiences">
          <li>
            <div class="experience-card">
              <figure
                class="card-banner img-holder"
                style="--width: 64; --height: 64"
              >
                <img
                  src="./assets/images/popular-post-1.jpg"
                  width="64"
                  height="64"
                  loading="lazy"
                  alt="Creating is a privilege but it’s also a gift"
                  class="img-cover"
                />
              </figure>

              <div class="card-content">
                <div class="company-content">
                  <h4
                    class="headline headline-4 card-title"
                    style="width: 100%; margin-bottom: 0px"
                  >
                    <a href="#" class="link hover-2"
                      >{{ data.companyName }} ({{ data.shortName }})</a
                    >
                  </h4>
                  <p class="experience-month">
                    {{ data.isFullTimeEmployee ? "Full Time" : "" }},
                    {{
                      calculateDuration(
                        data.startDate,
                        data.endDate,
                        data.isCurrentEmployee
                      )
                    }}
                  </p>
                </div>

                <div class="warpper" style="margin-bottom: 5px">
                  <h4
                    class="headline card-title"
                    style="width: 100%; margin-bottom: 0px"
                  >
                    <a class="link hover-2">{{ data.designation }}</a>
                  </h4>
                  <p class="experience-month">
                    {{ data.startDate | date : "MMMM dd, yyyy" }}
                    {{
                      data.isCurrentEmployee
                        ? " to " + (data.endDate | date : "MMMM dd, yyyy")
                        : "to Present"
                    }}
                  </p>
                </div>
                <div class="card-grid-contianer"  >
                  <h4 class="data-list card-title">Role & Responsibilities</h4>
                  <ul *ngFor="let section of data.experienceSection">
                    <li style="font-size: 12px">
                      <b>-</b> {{ section.sectionDescription }}
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>

<section class="section-2" id="education" aria-label="education">
  <div class="container">
    <div class="post-aside grid-list">
      <div class="card aside-card">
        <h3 class="headline headline-2 aside-title">
          <span class="span">Education</span>
        </h3>
        <ul class="experience-list">
          <li>
            <div class="experience-card">
              <figure
                class="card-banner img-holder"
                style="--width: 64; --height: 64"
              >
                <img
                  src="./assets/images/popular-post-1.jpg"
                  width="64"
                  height="64"
                  loading="lazy"
                  alt="Creating is a privilege but it’s also a gift"
                  class="img-cover"
                />
              </figure>

              <div class="card-content">
                <div class="company-content">
                  <h4
                    class="headline headline-4 card-title"
                    style="width: 100%; margin-bottom: 0px"
                  >
                    <a href="#" class="link hover-2"
                      >Daffodil International University</a
                    >
                  </h4>
                  <label for=""
                    >Bachelor in Computer Science and Engineering</label
                  >
                  <p class="experience-month">Jan 12, 2018 to Feb 20, 2022</p>
                </div>
                <div class="card-grid-contianer">
                  <p class="data-list">
                    Skills: Lorem ipsum dolor sit amet consectetur adipisicing
                    elit. Distinctio alias perferendis nesciunt rerum dolorem,
                    veritatis repellendus id nam dicta officiis.
                  </p>
                </div>
              </div>
            </div>
          </li>
          <li>
            <div class="experience-card">
              <figure
                class="card-banner img-holder"
                style="--width: 64; --height: 64"
              >
                <img
                  src="./assets/images/popular-post-3.jpg"
                  width="64"
                  height="64"
                  loading="lazy"
                  alt="Every day, in every city and town across the country"
                  class="img-cover"
                />
              </figure>

              <div class="card-content">
                <div class="company-content">
                  <h4
                    class="headline headline-4 card-title"
                    style="width: 100%; margin-bottom: 0px"
                  >
                    <a href="#" class="link hover-2"
                      >Hazi Asmat College, Bhairab</a
                    >
                  </h4>
                  <label for="">Science</label>
                  <p class="experience-month">Sep 10, 2013 to Jan 20, 2017</p>
                </div>
                <div class="card-grid-contianer">
                  <p class="data-list">
                    Skills: Lorem ipsum dolor sit, amet consectetur adipisicing
                    elit. Facere, modi?
                  </p>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>

<section class="section-2" id="publications" aria-label="publications">
  <div class="container">
    <div class="post-aside grid-list">
      <div class="card aside-card">
        <h3 class="headline headline-2 aside-title">
          <span class="span">Publications</span>
        </h3>
        <ul class="experience-list">
          <li>
            <div class="experience-card">
              <figure
                class="card-banner img-holder"
                style="--width: 64; --height: 64"
              >
                <img
                  src="./assets/images/popular-post-1.jpg"
                  width="64"
                  height="64"
                  loading="lazy"
                  alt="Creating is a privilege but it’s also a gift"
                  class="img-cover"
                />
              </figure>

              <div class="card-content">
                <div class="company-content">
                  <h4
                    class="headline headline-4 card-title"
                    style="width: 100%; margin-bottom: 0px"
                  >
                    <a href="#" class="link hover-2"
                      >The Method for Finding Eligible Employees Based on
                      Specification</a
                    >
                  </h4>
                </div>
                <div class="warpper" style="margin-bottom: 5px">
                  <h5
                    class="headline card-title"
                    style="width: 100%; margin-bottom: 0px"
                  >
                    <p href="#" class="link hover-2">Journal Name</p>
                  </h5>
                </div>
                <div class="card-grid-contianer">
                  <p class="data-list">
                    Short Description: Lorem ipsum dolor sit amet consectetur
                    adipisicing elit. Distinctio alias perferendis nesciunt
                    rerum dolorem, veritatis repellendus id nam dicta officiis.
                  </p>
                  <a class="source-link" href="#">click here</a>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>

<section class="section-2" id="projects" aria-label="projects">
  <div class="container">
    <div class="post-aside grid-list">
      <div class="card aside-card">
        <h3 class="headline headline-2 aside-title">
          <span class="span">Projects</span>
        </h3>
        <ul class="grid-list">
          <li>
            <div class="recent-post-card">
              <figure
                class="card-banner img-holder"
                style="--width: 350; --height: 200; background-color: c"
              >
                <img
                  src="./assets/images/recent-post-4.jpg"
                  width="200"
                  height="100"
                  loading="lazy"
                  alt="Helpful Tips for Working from Home as a Freelancer"
                  class="img-cover"
                />
              </figure>
              <div class="card-content">
                <div class="company-content">
                  <h4
                    class="headline headline-4 card-title"
                    style="width: 100%; margin-bottom: 0px"
                  >
                    <a href="#" class="link hover-2"
                      >Angular CRUD Operation 1</a
                    >
                  </h4>
                  <p class="experience-month">June 17, 2023</p>
                </div>
                <div class="card-grid-contianer">
                  <p class="data-list">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Aliquid, dicta. Maiores unde reiciendis fugiat! Consectetur
                    sint, dolorum architecto eligendi quam exercitationem, dicta
                    unde, rem atque amet inventore voluptatem? Ad delectus
                    veritatis voluptate ducimus ipsam eligendi, laborum odit id
                    praesentium quam!
                  </p>
                  <a class="source-link" href="#">Source Code</a>
                </div>
                <div class="card-wrapper">
                  <div class="card-tag">
                    <a href="#" class="span hover-2"># Travel</a>
                    <a href="#" class="span hover-2"># Lifestyle</a>
                  </div>
                </div>
              </div>
            </div>
          </li>
          <li>
            <div class="recent-post-card">
              <figure
                class="card-banner img-holder"
                style="--width: 350; --height: 200; background-color: c"
              >
                <img
                  src="./assets/images/recent-post-1.jpg"
                  width="200"
                  height="100"
                  loading="lazy"
                  alt="Helpful Tips for Working from Home as a Freelancer"
                  class="img-cover"
                />
              </figure>
              <div class="card-content">
                <div class="company-content">
                  <h4
                    class="headline headline-4 card-title"
                    style="width: 100%; margin-bottom: 0px"
                  >
                    <a href="#" class="link hover-2">Angular CRUD Operation</a>
                  </h4>
                  <p class="experience-month">June 17, 2023</p>
                </div>
                <div class="card-grid-contianer">
                  <p class="data-list">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Aliquid, dicta. Maiores unde reiciendis fugiat! Consectetur
                    sint, dolorum architecto eligendi quam exercitationem, dicta
                    unde, rem atque amet inventore voluptatem? Ad delectus
                    veritatis voluptate ducimus ipsam eligendi, laborum odit id
                    praesentium quam!
                  </p>
                  <a class="source-link" href="#">Source Code</a>
                </div>
                <div class="card-wrapper">
                  <div class="card-tag">
                    <a href="#" class="span hover-2"># Travel</a>
                    <a href="#" class="span hover-2"># Lifestyle</a>
                  </div>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>

<section class="section-2" id="interests" aria-label="interests">
  <div class="container">
    <div class="post-aside grid-list">
      <div class="card aside-card">
        <h3 class="headline headline-2 aside-title">
          <span class="span">Interests</span>
        </h3>
        <ul class="experience-list">
          <li>
            <div class="experience-card">
              <figure
                class="card-banner img-holder"
                style="--width: 64; --height: 64"
              >
                <img
                  src="./assets/images/popular-post-1.jpg"
                  width="64"
                  height="64"
                  loading="lazy"
                  alt="Creating is a privilege but it’s also a gift"
                  class="img-cover"
                />
              </figure>

              <div class="card-content">
                <div class="company-content">
                  <h4
                    class="headline headline-4 card-title"
                    style="width: 100%; margin-bottom: 0px"
                  >
                    <a href="#" class="link hover-2"
                      >ASA International Management Services Limited,
                      Bangladesh</a
                    >
                  </h4>
                </div>
                <div class="card-grid-contianer">
                  <p class="data-list">
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                    Quam temporibus rerum laborum dolores saepe, aspernatur et
                    adipisci repellendus ducimus ipsam? Perspiciatis aperiam
                    autem error aliquid totam explicabo! Vel, accusamus sit.
                  </p>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>

<section
  class="section-2"
  id="additional-skills-hobbies"
  aria-label="additional-skills-hobbies"
>
  <div class="container">
    <div class="post-aside grid-list">
      <div class="card aside-card">
        <h3 class="headline headline-2 aside-title">
          <span class="span">Additional Skills && Hobbies</span>
        </h3>
        <ul class="experience-list">
          <li>
            <div class="experience-card">
              <figure
                class="card-banner img-holder"
                style="--width: 64; --height: 64"
              >
                <img
                  src="./assets/images/popular-post-3.jpg"
                  width="64"
                  height="64"
                  loading="lazy"
                  alt="Every day, in every city and town across the country"
                  class="img-cover"
                />
              </figure>
              <div class="card-content">
                <div class="company-content">
                  <h4
                    class="headline headline-4 card-title"
                    style="width: 100%; margin-bottom: 0px"
                  >
                    <a href="#" class="link hover-2"
                      >LIAO HE PTE LTD, Singapore</a
                    >
                  </h4>
                </div>
                <div class="card-grid-contianer">
                  <p class="data-list">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    Fugiat hic expedita nostrum reiciendis et adipisci? Minima
                    atque assumenda, provident amet culpa quas eius possimus
                    animi iusto officiis unde inventore error.
                  </p>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>

<section class="section-2" id="languages" aria-label="languages">
  <div class="container">
    <div class="card aside-card">
      <h3 class="headline headline-2 aside-title">
        <span class="span">Languages</span>
      </h3>
      <ul class="">
        <li>
          <div>
            <h4 class="headline">
              <a href="#" class="link hover-2">English</a>
            </h4>
            <p>Native or bilingual proficiency</p>
          </div>
        </li>
        <li>
          <div>
            <h4 class="headline">
              <a href="#" class="link hover-2">English</a>
            </h4>
            <p>Professional working proficiency</p>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
