<!-- 
  - #HERO
-->
<section class="hero" id="about" aria-label="about">
  <div class="container">

    <div class="hero-content">

      <p class="hero-subtitle">Hello there!</p>

      <h1 class="headline headline-1 section-title">
        I’m <span class="span">Rajib Ahmed</span>
      </h1>

      <p class="hero-text">
        Dedicated programmer with a passion for coding. Skilled in C++, Java, C#, ASP.NET frameworks and related
        technologies.
        Enjoys tackling complex problems and creating innovative solutions.
      </p>

      <div class="input-wrapper">
        <input type="email" name="email_address" placeholder="Type your email address" required class="input-field"
          autocomplete="off">
        <button class="btn btn-primary">
          <span class="span">Subscribe</span>
          <ion-icon name="arrow-forward-outline" aria-hidden="true"></ion-icon>
        </button>
      </div>
    </div>

    <div class="hero-banner">
      <img src="./assets/images/hero-banner.png" width="327" height="490" alt="Rajib Ahmed" class="w-100">
      <img src="./assets/images/pattern-2.svg" width="27" height="26" alt="shape" class="shape shape-1">
      <img src="./assets/images/pattern-3.svg" width="27" height="26" alt="shape" class="shape shape-2">
    </div>

    <img src="./assets/images/shadow-1.svg" width="500" height="800" alt="" class="hero-bg hero-bg-1">
    <img src="./assets/images/shadow-2.svg" width="500" height="500" alt="" class="hero-bg hero-bg-2">

  </div>
</section>

<section class="" id="experiences" aria-label="experiences">
  <div class="container">
    <div class="post-aside grid-list">
      <div class="card aside-card">
        <h3 class="headline headline-2 aside-title">
          <span class="span">Experiences</span>
        </h3>
        <ul class="experience-list">
          <li>
            <div class="experience-card">
              <figure class="card-banner img-holder" style="--width: 64; --height: 64;">
                <img src="./assets/images/popular-post-1.jpg" width="64" height="64" loading="lazy"
                  alt="Creating is a privilege but it’s also a gift" class="img-cover">
              </figure>

              <div class="card-content">
                <div class="company-content">
                  <h4 class="headline headline-4 card-title" style="width: 100%; margin-bottom: 0px;">
                    <a href="#" class="link hover-2">ASA International Management Services Limited, Bangladesh</a>
                  </h4>
                  <p class="experience-month">Full time, 9 Month's</p>
                </div>

                <div class="warpper" style="margin-bottom: 5px;">
                  <h4 class="headline card-title" style="width: 100%; margin-bottom: 0px;">
                    <a href="#" class="link hover-2">Junior Software Engineer</a>
                  </h4>
                  <p class="experience-month">Jan 10, 2023 to Jan 10, 2025</p>
                </div>
                <div class="card-grid-contianer">
                  <p class="data-list">Skills: Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio alias perferendis
                    nesciunt rerum dolorem, veritatis repellendus id nam dicta officiis.</p>
                </div>

              </div>

            </div>
          </li>
          <li>
            <div class="experience-card">
              <figure class="card-banner img-holder" style="--width: 64; --height: 64;">
                <img src="./assets/images/popular-post-2.jpg" width="64" height="64" loading="lazy"
                  alt="Being unique is better than being perfect" class="img-cover">
              </figure>

              <div class="card-content">
                <div class="company-content">
                  <h4 class="headline headline-4 card-title" style="width: 100%; margin-bottom: 0px;">
                    <a href="#" class="link hover-2">ASA International Management Services Limited, Bangladesh</a>
                  </h4>
                  <p class="experience-month">Full time, 3 Month's</p>
                </div>

                <div class="warpper" style="margin-bottom: 5px;">
                  <h4 class="headline card-title" style="width: 100%; margin-bottom: 0px;">
                    <a href="#" class="link hover-2">Intern Software Engineer</a>
                  </h4>
                  <p class="experience-month">Oct 10, 2022 to Jan 10, 2023</p>
                </div>
                <div class="card-grid-contianer">
                  <p class="data-list">Skills: Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio alias perferendis
                    nesciunt rerum dolorem, veritatis repellendus id nam dicta officiis.</p>
                </div>

              </div>

            </div>
          </li>

          <li>
            <div class="experience-card">
              <figure class="card-banner img-holder" style="--width: 64; --height: 64;">
                <img src="./assets/images/popular-post-3.jpg" width="64" height="64" loading="lazy"
                  alt="Every day, in every city and town across the country" class="img-cover">
              </figure>

              <div class="card-content">
                <div class="company-content">
                  <h4 class="headline headline-4 card-title" style="width: 100%; margin-bottom: 0px;">
                    <a href="#" class="link hover-2">LIAO HE PTE LTD, Singapore</a>
                  </h4>
                  <p class="experience-month">Full time 1 Year, 1 Month's</p>
                </div>

                <div class="warpper" style="margin-bottom: 5px;">
                  <h4 class="headline card-title" style="width: 100%; margin-bottom: 0px;">
                    <a href="#" class="link hover-2">Construction Worker</a>
                  </h4>
                  <p class="experience-month">Mar 03, 2015 to Mar 12, 2016</p>
                </div>
                <div class="card-grid-contianer">
                  <p class="data-list">Skills: Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio alias perferendis
                    nesciunt rerum dolorem, veritatis repellendus id nam dicta officiis.</p>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>